body {
    background-color: #F9F9FA;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: fit-content;
    height: 50px; 
    display: flex;
    position: fixed;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    background-color: #F1F1F1;
    transform: translateX(50%);
    right: 50% ;
    top: 2.5%;
    border-radius: 60px;
    z-index: 100;
    

}

header img {
    width: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0;
    

}

nav {
    width: fit-content;
    height: auto; 
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0px 20px 0px 20px;
}

header ul  {
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    list-style: none;
    gap: 20px;

}

header li {
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;

}

#underHeader{
    background-color: #f9f7f7;
    position: fixed;
    top: 0%;
    width: 100VW;
    height: 80px;
    margin: 0%;
    padding: 0%;
    z-index: 99;
    align-items: flex-start;
    align-self: start;
    transform:transtatey(5)
    

}
main {
    top: 80px;
    width: fit-content;
    height: auto; 
    display: flex;
    position: relative;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    margin: 0px 20px 0px 20px;

}

#rightSideBar {
     width: 160px;
     display: flex;
     flex-direction: column;
     left: 40px;
     position: fixed;
     gap: 20px;
}

#authorProfilePicture {
     width: 35px;
     display: flex;
     
     
     
}
#author {
    display: flex;
    width: fit-content;
    flex-direction: row;
    gap: 10px;
    
}

#rightSideBar, p {
    padding: 0;
    margin: 0;

}


         
#rightSideBarIcons, img {
    width: 22px;
    display: flex;
    margin-bottom: 20px;
}
        
#rightSideBarIcons {
    display: flex;
    flex-direction: column;
    
}

#middleSection {
    width: 700px;
    display: colume;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 180px;
    


}

article {
    width: fit-content;
    background-color: white;
    
     line-height: 1.5rem;   position: relative;
     display: ;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 80px;
    box-shadow: 3px  5px 15px #79797920;
    border-radius: 10px;
    margin-bottom: 50px;
}

article img {
    width: 600px;
}

#commentSetion {
    width: 700px;
    display: colume;
    position: relative;
    gap: 40px;
    margin-bottom: 150px;
}

    

.comments {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: ;
    margin: 0;
    align-items: center;
    align-content: center;
    justify-content: start;
    margin-bottom: 30px;
    gap: 10px;
}

.comments-avarter {
    display: flex;
    width: 70px;
    height: auto;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0
    ;
}
    
  


.comment-txt {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-content: center;
    justify-content: center;
    align-self: center;
}

#comment-form  {
    display: flex;
    flex-direction: column;
    width: 755px;
    gap: 20px;
    margin: 0;
}

#comment-tex-field  {
    background-color: #fcfcfc;
    border-radius: 7px;
    border: 2px solid #8888;
    width: 100%;
    height: 200px;
    margin: 0;
}

#user-details {
    display: flex;
    width: 100%;
    height: 2;
    gap: 30px;
    align-content: center;
    justify-content: space-between;
    align-self: center;
    
    
}

#user-details input {
    width: 750px;
    height: 38px;
    margin: 0;
    padding: 0;
    text-wrap: 500px;
    background-color: #fcfcfc;
    border-radius: 5px;
    margin-top: 0.5rem;
    text-align: start;
    border: 2px solid #8888;
   
    
}

#user-details input::placeholder {
    text-align: start;
    
    width: fit-content;
    padding-left: 10px;
    opacity: 0.5;
    padding-bottom: 100px;
}

input::placeholder {
    padding-left: 10px;
    opacity: 0.5;
}

#sumbmit-btn {
   
    width: 101%;
    height: 39px;
    color: white;
    background-color: #578CFD;
    border-radius: 5px;
    border: none;
    
}
aside{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    margin-left: 120px;
}       

#category-list {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    
    

}

#category-list h4 {
    color: #4B4747;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    a
    
    

}
aside h2 {
    color: # ;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.divider-line {
    background-color: #ccc;
    width: 100%;
    height: 1px;
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.related-post h4 {
    color: #4B4747;
    width: 200px;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: centerh;
    margin: 0;

}
.related-post {
    display: flex;
    position: relative;

}
aside img{
    width: 60px;
    margin-right: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
}