header{
    width: 100vw;
    height: 20vh;
    background-color: white;
    display: flex;
    position: relative;


}

nav{
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;

}
ul li{
    display: flex;
    position: relative;
}

img{
    width: 100vw;
    height: 60vh;
}

footer{
    background-color: white;
    width: 100vw;
    height: 20vh;
}